.btn-equal {
    background : var(--primary-color);
    color      : var(--text-color-light);
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-semi-bold);

}

.btn-equal:active {
    background: var(--active-color);
}