@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:100');

#root {
    display        : flex;
    justify-content: center;
    height         : 100vh;
    align-items    : center;
}