* {
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin         : 0;
    padding        : 0;
    font-family    : var(--font-family);
    text-shadow    : var(--text-shadow-base);
    background     : var(--bg-body);
    background-size: cover;
    font-size      : var(--font-size-base);
}