.btn-operator {
    background : var(--primary-color);
    color      : var(--text-color-light);
    font-family: var(--font-family-secondary);
    font-weight: 600;

}

.btn-operator:focus {
    filter: brightness(0.8);
}

.btn-operator:active {
    background: var(--active-color);
}