.keyboard {
    overflow             : hidden;
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    opacity              : 0.95;
}

.keyboard .btn {}

.keyboard .btn.span-2 {
    grid-column: 1 / span 2;
}