.outputScreen {
	text-align     : right;
	padding-right  : var(--panel-spacing);
	padding-left   : var(--panel-spacing);
	background     : var(--result-bg);
	height         : var(--result-height);
	display        : flex;
	flex-direction : column;
	justify-content: space-between;
}

.outputScreen .result {
	color         : var(--text-color-light-1);
	font-size     : 5.2em;
	font-weight   : var(--font-weight-slim);
	letter-spacing: 2px;
	font-family   : var(--font-family-secondary);
	position      : relative;
}

.outputScreen .circles {
	text-align   : left;
	margin-bottom: var(--panel-spacing);
}

.outputScreen .circles .red {
	background   : var(--red-color);
	padding      : 0px 11px 0px 11px;
	border-radius: 20px;
	position     : relative;
	top          : 10px;
	margin-right : 12px;
	cursor       : pointer;
}

.outputScreen .circles .yellow {
	background   : var(--yellow-color);
	padding      : 0px 11px 0px 11px;
	border-radius: 20px;
	position     : relative;
	top          : 10px;
	margin-right : 12px;
	cursor       : pointer;
}

.outputScreen .circles .green {
	background   : var(--green-color);
	padding      : 0px 11px 0px 11px;
	border-radius: 20px;
	position     : relative;
	top          : 10px;
	margin-right : 12px;
	cursor       : pointer;
}

.outputScreen .circles .green:active,
.outputScreen .circles .yellow:active,
.outputScreen .circles .red:active {
	filter: brightness(0.7);
}